@media screen and (max-width: 420px) {
  body {
    min-width: 420px;
  }
  h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 5px;
  }
  h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  header, section, footer {
    width: 420px;
  }
  .container {
    max-width: 380px;
  }
  .underline-title::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
  }
  /* ------------------------------------------------------------------------------------ */
  /* ----------------------------------- HEADER START ----------------------------------- */
  /* ------------------------------------------------------------------------------------ */
  .header {
    width: 420px;
    height: 90px;
  }
  .header__container {
    width: 380px;
    height: 90px;
  }
  .logo {
    width: 139px;
    height: 20px;
    margin-bottom: 0;
  }
  .logo__image {
    width: 29px;
    height: 16px;
    background-size: 29px 16px;
  }
  .logo h1 {
    margin-top: 7px;
  }
  .navigation {
    width: 420px;
    display: none;
  }
  .navigation__item {
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
  }
  /* ---------------------------------------------------------------------------------- */
  /* ----------------------------------- HEADER END ----------------------------------- */
  /* ---------------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------------- */
  /* ----------------------------------- MAIN START ----------------------------------- */
  /* ---------------------------------------------------------------------------------- */
  /* ----------------------------------- WELCOME SECTION START ----------------------------------- */
  .welcome {
    position: relative;
    height: 544px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .welcome__container {
    position: static;
    width: 380px;
    height: 464px;
    background-size: 380px 285px;
    background-position: bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
  }
  .welcome__navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    bottom: 0;
    width: 420px;
    height: 544px;
    background-color: #000;
    display: none;
    -webkit-transition: all 2s;
    transition: all 2s;
    z-index: 100;
  }
  .welcome__navigation .navigation {
    width: 122px;
    height: 263px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all 2s;
    transition: all 2s;
    margin: 35px 0 0 55px;
  }
  .welcome__navigation .navigation li {
    width: 122px;
    background: url("./images/burger/arrow_nav.svg") no-repeat;
    background-position: right;
  }
  .welcome__navigation .navigation li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
  }
  .welcome__navigation .navigation-separator {
    display: block;
    width: 310px;
    height: 1px;
    background-color: #666666;
    margin: 20px 0 0 55px;
  }
  .welcome__navigation .navigation-images1 {
    display: none;
  }
  .welcome__navigation .navigation-images2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 311px;
    height: 95px;
    margin: 35px 0 0 55px;
  }
  .welcome__navigation .navigation-social {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0 0 80px;
  }
  .welcome__navigation .navigation-social a:hover div {
    -webkit-filter: invert(55%) sepia(13%) saturate(887%) hue-rotate(356deg) brightness(96%) contrast(89%);
            filter: invert(55%) sepia(13%) saturate(887%) hue-rotate(356deg) brightness(96%) contrast(89%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .welcome__navigation .navigation-social div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 48px;
    height: 48px;
    border: 2px #666666 solid;
    border-radius: 50%;
  }
  .welcome__header {
    width: 360px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .welcome__header h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 5px;
  }
  .welcome__header p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
  }
  .welcome__discover {
    display: none;
  }
  .welcome__slider {
    width: 380px;
    height: 80px;
    left: 20px;
  }
  .welcome__num {
    margin-left: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
  }
  .welcome__num span:first-child {
    margin-right: 5px;
  }
  .welcome__num span:last-child {
    margin-left: 5px;
  }
  .welcome__carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75px;
    height: 7px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .welcome__carousel div {
    width: 7px;
    height: 7px;
  }
  .welcome__arrows {
    width: 55px;
    height: 8px;
    margin-right: 75px;
  }
  .welcome__arrows button {
    width: 20px;
    height: 20px;
  }
  .welcome__arrows button img {
    width: 20px;
  }
  /* ----------------------------------- WELCOME SECTION END ----------------------------------- */
  /* ----------------------------------- VISITING SECTION STRART ----------------------------------- */
  .visiting {
    width: 420px;
    height: 2153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .visiting img {
    width: 280px;
    height: 180px;
  }
  .visiting__container {
    width: 380px;
    height: 2073px;
  }
  .visiting__title h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .visiting__cards {
    width: 280px;
    height: 1970px;
    margin: 0 auto;
    margin-top: 63px;
  }
  .visiting__card {
    width: 280px;
    height: 295px;
    margin-bottom: 40px;
  }
  .visiting__card:hover h3::after {
    width: 280px;
  }
  .visiting__card h3 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 22px;
  }
  .visiting__card h3::after {
    bottom: -11px;
    width: 150px;
    height: 2px;
  }
  .visiting__card p span:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }
  .visiting__card p span:last-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }
  /* ----------------------------------- VISITING SECTION END ----------------------------------- */
  /* ----------------------------------- EXPLORE SECTION START ----------------------------------- */
  .explore {
    margin: 0;
    height: 551px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .explore__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 471px;
    width: 380px;
  }
  .explore__description {
    width: 380px;
    height: 40px;
  }
  .explore__description h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .explore__description p {
    display: none;
  }
  .explore__slider {
    height: 715px;
  }
  .explore__slider img {
    width: 380px;
    height: 368px;
    margin-top: 63px;
  }
  /* ----------------------------------- EXPLORE SECTION END ----------------------------------- */
  /* ----------------------------------- VIDEO SECTION START ----------------------------------- */
  .video {
    height: 551px;
    width: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__container {
    width: 380px;
    height: 471px;
    margin-bottom: 4px;
  }
  .video__title {
    width: 380px;
  }
  .video__title h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .video__title p {
    display: none;
  }
  .video__player {
    width: 380px;
    height: 226px;
    margin-top: 20px;
  }
  .video__player video {
    width: 380px;
    height: 172px;
    margin: 0;
  }
  .video__screen {
    width: 380px;
    height: 172px;
  }
  .video__screen button {
    left: 165px;
    top: 61px;
    width: 50px;
    height: 50px;
    background-size: 50px;
    border-radius: 10px;
  }
  .video__control-panel {
    position: relative;
    width: 380px;
    height: 55px;
    margin-top: -3px;
  }
  .video__control-panel button, .video__control-panel input {
    margin: 0;
  }
  .video__control-panel button:first-of-type {
    width: 14px;
    height: 18px;
    margin-left: 20px;
  }
  .video__control-panel .video__volume-button {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__control-panel button:last-of-type {
    margin-left: 30px;
  }
  .video__control-panel input:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 4px;
    margin-left: 0;
  }
  .video__control-panel input:last-of-type {
    margin-left: 31px;
  }
  .video__control-panel img:first-of-type {
    width: 23px;
    height: 30px;
  }
  .video__control-panel + img {
    width: 18px;
    height: 14px;
  }
  .video__control-panel + button {
    width: 18px;
    height: 14px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .video__control-panel button:last-of-type {
    width: 18px;
    height: 18px;
  }
  .video__control-panel img:last-of-type {
    width: 18px;
    height: 18px;
  }
  .video__control-panel input::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  .video__control-panel input:last-of-type {
    width: 200px;
    height: 4px;
  }
  .video__footages {
    width: 380px;
    margin-top: 40px;
  }
  .video__footage {
    width: 180px;
    height: 101px;
  }
  .video__footage:last-of-type {
    display: none;
  }
  .video__slider {
    width: 174px;
    height: 12px;
    margin-top: 40px;
  }
  .video__slider button {
    width: 7px;
    height: 8px;
    background-size: 7px 8px;
  }
  .video__slider div {
    width: 8px;
    height: 8px;
  }
  /* ----------------------------------- VIDEO SECTION END ----------------------------------- */
  /* ----------------------------------- GALLERY SECTION START ----------------------------------- */
  .gallery {
    width: 420px;
    height: 757px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__container {
    height: 717px;
    margin-top: 40px;
  }
  .gallery h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .gallery__picture-inner-container {
    width: 380px;
    height: 8000px;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-width: 178px;
            column-width: 178px;
    margin-top: 40px;
  }
  .gallery__picture-inner-container img {
    width: 178px;
    margin-bottom: 24px;
  }
  .gallery__picture-top {
    margin-top: 0;
  }
  .gallery__picture-top:first-of-type {
    margin-top: 50px;
  }
  .gallery__gradient {
    width: 380px;
    height: 112px;
  }
  /* ----------------------------------- GALLERY SECTION END ----------------------------------- */
  /* ----------------------------------- TICKETS SECTION START ----------------------------------- */
  .tickets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 420px;
    height: 759px;
  }
  .tickets__container {
    height: 679px;
    width: 380px;
  }
  .tickets__container h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .tickets__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 380px;
    height: 576px;
    margin-top: 63px;
  }
  .tickets__main .tickets__paint {
    width: 380px;
    height: 160px;
  }
  .tickets__main .form {
    width: 175px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .tickets__main .form h3 {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
  .tickets__main .form__ticket-type {
    display: none;
  }
  .tickets__main .form__amount {
    width: 175px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
  }
  .tickets__main .form__amount label {
    display: inline-block;
    width: 80px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .tickets__main .form__amount label:first-of-type {
    margin-top: 20px;
  }
  .tickets__main .form__amount span:first-of-type {
    margin: 0 auto;
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
  }
  .tickets__main .form__amount .amount {
    margin-left: 13.17px;
  }
  .tickets__main .form__number-container {
    width: 175px;
    height: 50px;
    margin: 0;
    border: 3px solid #030303;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
  }
  .tickets__main .form__number-container input {
    all: unset;
    width: 3em;
    text-align: center;
    margin-left: 0px;
  }
  .tickets__main .form__number-container button {
    height: 38px;
    margin-bottom: 6px;
    border: 0;
    background-color: transparent;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
  }
  .tickets__main .form__number-container button:first-of-type {
    margin-left: 10px;
    margin-bottom: 6px;
  }
  .tickets__main .form__number-container button:last-of-type {
    margin-right: 14px;
    margin-bottom: 3px;
  }
  .tickets__main .form__submit {
    margin-top: 40px;
    margin-right: 0;
    width: 175px;
    height: 50px;
    position: relative;
    overflow: hidden;
    -webkit-transition: background 400ms;
    transition: background 400ms;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 2px;
    background-color: #030303;
  }
  .tickets__main .form__submit:hover {
    color: #000;
    background-color: #9D8665;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  span.ripple {
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: ripple 1s linear;
            animation: ripple 1s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background-color: #fff;
  }
  @-webkit-keyframes ripple {
    to {
      -webkit-transform: scale(4);
              transform: scale(4);
      opacity: 0;
    }
  }
  @keyframes ripple {
    to {
      -webkit-transform: scale(4);
              transform: scale(4);
      opacity: 0;
    }
  }
  /*--------------------------------------------- BUY FORM END ------------------------------------*/
  /* ----------------------------------- TICKETS SECTION END ----------------------------------- */
  /* ----------------------------------- PARALLAX START ----------------------------------- */
  .parallax {
    margin: 0;
    width: 420px;
    height: 300px;
    background: url(./images/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  /* ----------------------------------- PARALLAX END ----------------------------------- */
  /* ----------------------------------- CONTACTS SECTION START ----------------------------------- */
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 636px;
    color: #030303;
    font-family: Roboto;
    font-style: normal;
  }
  .contacts__container {
    height: 556px;
    margin-top: 40px;
  }
  .contacts h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 380px;
    height: 453px;
    margin-top: 63px;
  }
  .contacts__main img {
    width: 380px;
    height: 248px;
  }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 282px;
  }
  .contacts__list h3 {
    width: 227px;
    margin-bottom: 40px;
    width: 155px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .contacts__list span {
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  /* ----------------------------------- CONTACTS SECTION END ----------------------------------- */
  /* -------------------------------------------------------------------------------- */
  /* ----------------------------------- MAIN END ----------------------------------- */
  /* -------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ */
  /* ----------------------------------- FOOTER START ----------------------------------- */
  /* ------------------------------------------------------------------------------------ */
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
  }
  .footer h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 5px;
    margin-top: 0;
  }
  .footer__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 380px;
    height: 296px;
    position: static;
  }
  .footer__top .logo {
    width: 134px;
    height: 20px;
    margin-top: 42px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__top div {
    margin-bottom: 5px;
  }
  .footer__navigation {
    width: 380px;
  }
  .footer__links {
    position: relative;
    width: 380px;
    height: 68px;
    margin-top: 33px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
  }
  .footer__links li {
    width: auto;
  }
  .footer #tickets-item, .footer #contacts-item, .footer #video-item, .footer #gallery-item {
    width: 77px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer #tickets-item {
    top: 0;
    right: 0;
  }
  .footer #contacts-item {
    bottom: 0;
    right: 0;
  }
  .footer #video-item {
    top: 0;
    left: 160px;
  }
  .footer #gallery-item {
    bottom: 0;
    left: 160px;
  }
  .footer__social {
    width: 260px;
    margin-top: 0;
    position: static;
    margin-top: 40px;
  }
  .footer__social div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 48px;
    height: 48px;
    border: 2px #666666 solid;
    border-radius: 50%;
  }
  .footer__line {
    width: 100%;
    height: 1px;
    background-color: #666666;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 380px;
    height: 102px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
  }
  .footer__bottom span:first-of-type {
    width: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    margin-left: 5px;
  }
  .footer__rss {
    display: none;
  }
  /* ---------------------------------------------------------------------------------- */
  /* ----------------------------------- FOOTER END ----------------------------------- */
  /* ---------------------------------------------------------------------------------- */
}
/*# sourceMappingURL=media3.css.map */